li
  h3
    if messages.length === 0
      | Conversation with no one.
    else if messages.length > 1
      | Conversations with
    else
      | Conversation with
    each name in finalSenders   
      a  #{name}
    ul.app--message--conversation
      each message in messages
        li.app--message--me
          .app--avatar(style=`background-image: url(${message.senderIMG})`)
            img(src='images/f-spore.png')
          p.app--message--text= message.text
          p.app--message--timestamp= message.timestamp